{% extends 'base.html' %}

{% block title %}Página Principal{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Seleccione la Empresa para Registrar Correspondencia</h1>
    
    <!-- Formulario para seleccionar empresa -->
    <form id="empresaForm">
        <div class="form-group">
            <label for="empresa">Empresas:</label>
            <select name="empresa" id="empresa" class="form-control">
                {% for empresa in empresas %}
                    <option value="{{ empresa.id }}">{{ empresa.nombre }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="button" id="continuarBtn" class="btn btn-primary mt-3">Continuar</button>
    </form>
</div>

<!-- Barra de botones de acciones generales (Registrar usuario, dependencia, empresa, correspondencia) -->
{% if user.is_superuser %}
<div class="container mt-5">
    <div class="d-flex justify-content-start mb-4">
        <a href="{% url 'registrar_usuario' %}" class="btn btn-primary me-2">Registrar Usuario</a>
        <a href="{% url 'crear_dependencia' %}" class="btn btn-primary me-2">Registrar Dependencia</a>
        <a href="{% url 'crear_empresa' %}" class="btn btn-primary me-2">Crear Empresa</a>
        <a href="{% url 'lista_correspondencia' %}" class="btn btn-primary me-2">Correspondencia</a>
        <a href="{% url 'dashboard' %}" class="btn btn-primary">Dashboard</a>
      
    </div>

    <!-- Acordeón para mostrar Usuarios, Empresas y Dependencias -->
    <div class="accordion" id="accordionExample">
        <!-- Usuarios -->
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Usuarios
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <ul class="list-group">
                        {% for usuario in usuarios %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                {{ usuario.username }}
                                <div class="btn-group" role="group">
                                    <a href="{% url 'editar_usuario' usuario.id %}" class="btn btn-warning btn-sm">Editar Usuario</a>
                                    <a href="{% url 'cambiar_contraseña_usuario' usuario.id %}" class="btn btn-secondary btn-sm">Cambiar Contraseña</a>
                                    <a href="{% url 'eliminar_usuario' usuario.id %}" class="btn btn-danger btn-sm" onclick="return confirm('¿Estás seguro de que deseas eliminar este usuario?');">Eliminar</a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <!-- Empresas -->
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Empresas
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <ul class="list-group">
                        {% for empresa in empresas %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                {{ empresa.nombre }}
                                <a href="{% url 'editar_empresa' empresa.id %}" class="btn btn-warning btn-sm">Editar Empresa</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <!-- Correspondencia -->
<div class="accordion-item">
    <h2 class="accordion-header" id="headingFour">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            Correspondencia
        </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <ul class="list-group">
                {% for correspondencia in correspondencias %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{ correspondencia.asunto }} - {{ correspondencia.consecutivo }}
                        <div>
                            <a href="{% url 'editar_correspondencia' correspondencia.id %}" class="btn btn-warning btn-sm">Editar</a>
                            <a href="{% url 'eliminar_correspondencia' correspondencia.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                        </div>
                    </li>
                {% empty %}
                    <li class="list-group-item">No hay correspondencia disponible.</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
        <!-- Dependencias -->
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Dependencias
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <ul class="list-group">
                        {% for dependencia in dependencias %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                {{ dependencia.nombre }}
                                <a href="{% url 'editar_dependencia' dependencia.id %}" class="btn btn-warning btn-sm">Editar Dependencia</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}


<!-- Script para manejar el redireccionamiento -->
<script>
    document.getElementById("continuarBtn").addEventListener("click", function() {
        console.log("Botón Continuar presionado");
        var empresaId = document.getElementById("empresa").value;
        console.log("Empresa seleccionada: " + empresaId);
        if (empresaId) {
            var url = "/registro_correspondencia/" + empresaId + "/";
            console.log("Redirigiendo a: " + url);
            window.location.href = url;
        } else {
            alert("Por favor, selecciona una empresa.");
        }
    });
</script>

{% endblock %}
