{% extends 'base.html' %}

{% block title %}Adjuntar Documento{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Adjuntar Documento a la Correspondencia {{ correspondencia.consecutivo }}</h2>

    <form method="post" enctype="multipart/form-data" class="form">
        {% csrf_token %}
        
        <div class="form-group">
            <label for="id_documento">Documento:</label>
            {{ form.documento }}
        </div>

        <button type="submit" class="btn btn-primary">Adjuntar</button>
    </form>

    <a href="{% url 'registro_correspondencia' empresa.id %}" class="btn btn-secondary mt-3">Volver</a>
</div>
{% endblock %}
