/* Estilos personalizados para mejorar la apariencia de la aplicación */
.navbar {
    background-color: #7a99b8 !important;
}

.navbar .navbar-brand, .navbar .nav-link {
    color: #fdfdfd !important;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05) !important;
}

.respuesta-necesaria {
    background-color: #0f0f0f;
    font-weight: bold;
}
